.draw-template {
    display: flex;
    flex-direction: column;
    height: 100%; /* Ajusta la altura del componente al 100% del contenedor */
}
  
.graph-area {
    flex: 1; /* El 치rea de dibujo del grafo ocupar치 todo el espacio disponible */
    background-color: #1f1f1f; /* Color de fondo opcional */
    border-radius: 12px 12px 0px 0px;
}
  
.button-area {
    display: flex;
    justify-content: center; /* Centra los botones horizontalmente */
    padding: 10px;
    background-color: #2E5EAA; /* Color de fondo opcional */
    border-radius: 0px 0px 12px 12px;
    gap: 20px;
}

.button-area button {
    background-color: #f0f0f0; 
    color: #141414; 
    padding: 8px 16px; 
    margin: 0 10px; 
    cursor: pointer;
    border-radius: 12px;

    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.button-area button:hover {
    color: #2E5EAA;
}


.board {
    display: flex;
    flex-wrap: wrap; /* Permite que los cuadrados se envuelvan autom치ticamente en filas */
}

.square {
    width: 4px;
    height: 4px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: 0.5px solid #1f1f1f;
    margin: 0; /* Elimina cualquier margen */
    padding: 0; /* Elimina cualquier relleno */
    color: #f0f0f0;
    font-weight: bold;
}

.square.filled {
    background-color: #2E5EAA; /* Cambia el color de fondo cuando est치 lleno */
    font-size: 15px;
    border: 0.5px solid #2E5EAA;
}
  
.square:hover {
    background-color: #1f1f1f;
}

.square.asterisk {
   background-color: #f0f0f0;
   font-size: 1px;
}

.square.line {
    background-color: #2E5EAA;
    font-size: 1px;
}

  