.box-glosario {
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    max-width: 850px;
    margin: 0 auto;
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si es necesario */
    max-height: 80vh; /* Altura máxima para el contenido */
}

.box-glosario::-webkit-scrollbar {
    width: 8px; /* Ancho del scrollbar */
}   

.box-glosario::-webkit-scrollbar-thumb {
    background-color: #2E5EAA; /* Color del botón del scrollbar */
    border-radius: 4px; /* Borde redondeado */
}

.box-glosario::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: #f0f0f0; /* Color de fondo del scrollbar */
}

.title-glosario {
    padding: 5px 20px;
    background-color: #2E5EAA;
    border-radius: 10px;
    animation: appear-left 0.7s ease-in-out;
}

.title-glosario h3 {
    margin: 0;
    color: #f0f0f0;
    font-size: 17px;
}

.content-glosario {
    margin-right: auto;
    animation: appear-right 0.7s ease-in-out;
}

.concept-grafo {
    margin-top: 30px;
    margin-right: 8px;
}

.concept-grafo h3 {
    color: #2E5EAA;
    font-weight: bold;
}

.concept-grafo p {
    color: #f0f0f0;
    text-align: justify;
    letter-spacing: 0.8px;
    line-height: 22px;
}

.concept-grafo ul {
    list-style-type: none;
    padding-left: 0px;
}

.concept-grafo li {
    color: #f0f0f0;
    text-align: justify;
    letter-spacing: 0.8px;
    line-height: 22px;
    margin-bottom: 10px;
}

.concept-grafo li::before {
    content: '•'; 
    color: #2E5EAA; 
    display: inline-block;
    width: 1.5em; 
}

.concept-grafo .highlighted {
    color: #2E5EAA; 
    font-weight: bold; 
}

@keyframes show {
    from {
        opacity: 0;
        scale: 20%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}

@keyframes appear-right {
    from {
        opacity: 0;
        transform: translateX(-200px);
    }
    to {
       opacity: 1;
       transform: translateX(0); 
    }
}

@keyframes appear-left {
    from {
        opacity: 0;
        transform: translateX(200px);
    }
    to {
       opacity: 1;
       transform: translateX(0); 
    }
}

.concept-grafo {
    view-timeline-name: --content;
    view-timeline-axis: block;

    animation-timeline: --content;
    animation-name: appear-right;

    animation-range: entry 25% cover 30%;
    animation-fill-mode: both;
}
