.box-inicio {
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    max-width: 850px;
    margin: 0 auto;
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si es necesario */
    max-height: 80vh; /* Altura máxima para el contenido */
}

.box-inicio::-webkit-scrollbar {
    width: 8px; /* Ancho del scrollbar */
}   

.box-inicio::-webkit-scrollbar-thumb {
    background-color: #2E5EAA; /* Color del botón del scrollbar */
    border-radius: 4px; /* Borde redondeado */
}

.box-inicio::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: #f0f0f0; /* Color de fondo del scrollbar */
}

.title-inicio {
    padding: 5px 20px;
    background-color: #2E5EAA;
    border-radius: 10px;
    animation: appear-left 0.7s ease-in-out;
}

.title-inicio h3 {
    margin: 0;
    color: #f0f0f0;
    font-size: 19px;
}

.content-inicio {
    margin-right: auto;
    animation: appear-right 0.7s ease-in-out;
}

.concept-inicio {
    margin-top: 30px;
    margin-right: 8px;
}

.concept-inicio h3 {
    color: #2E5EAA;
    font-weight: bold;
}

.concept-inicio p {
    color: #f0f0f0;
    text-align: justify;
    letter-spacing: 0.8px;
    line-height: 22px;
}

@keyframes show {
    from {
        opacity: 0;
        scale: 20%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}

@keyframes appear-right {
    from {
        opacity: 0;
        transform: translateX(-200px);
    }
    to {
       opacity: 1;
       transform: translateX(0); 
    }
}

@keyframes appear-left {
    from {
        opacity: 0;
        transform: translateX(200px);
    }
    to {
       opacity: 1;
       transform: translateX(0); 
    }
}