.left-content {
    margin: 0;
    padding: 0;
}

.title-nodes {
    color: #f0f0f0;
}

.title-edges {
    color: #f0f0f0;
}

.list {
    list-style: none;
    padding: 0;
}

.item-list {
    margin-bottom: 10px; 
}

.button-list {
    color: #f0f0f0;
    font-size: 16px;
    font-weight: bold;
    background-color: #1f1f1f; 
    border: 2px solid #f0f0f0; 
    cursor: pointer; 
    width: 25%; 
    border-radius: 0px 10px 10px 0px;
    display: flex;
    justify-content: flex-start;
}

.button-list:hover {
    background-color: #2E5EAA; 
}

.nodo-info {
    background-color: #2E5EAA;
    border-radius: 0px 10px 10px 0px;
    padding: 10px;
    margin-top: 10px;
    font-weight: bold; 
    font-size: 14px;
    color: #f0f0f0;
}

.edge-info {
    background-color: #2E5EAA;
    border-radius: 0px 10px 10px 0px;
    padding: 5px 10px;
    margin-top: 10px;
    font-weight: bold; 
    font-size: 14px;
    color: #f0f0f0;
    width: 50%;
}
