.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgba(20, 20, 20, 0.8);
    backdrop-filter: blur(10px); 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.logo-name {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.logo-name h1 {
    color: #f0f0f0;
}

.img-logo {
    height: auto;
    width: 55px;
}

.links-top {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links {
    list-style: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f0f0f0;
    font-weight: bold;
    font-size: 16px;
    gap: 25px;
    color: inherit;
}

.links a {
    color: #f0f0f0; 
    transition: color 0.5s ease; 
    text-decoration: none; 
}

.links a:hover {
    animation: changeColor 0.5s ease forwards;
}

.links a:visited {
    color: #f0f0f0;
}


@keyframes changeColor {
    0% { color: #f0f0f0; } 
    100% { color: #2E5EAA; } 
}

main {
    margin: 12px 0px;
    display: flex;
    flex: 1; /* El panel principal ocupará el espacio restante */
    width: 100%; /* Ancho al 100% de su contenedor */
    height: 100vh; 
}
  
.left-panel, .right-panel {
    flex: 1; /* Las columnas laterales ocuparán el 1/3 del ancho */
    padding: 10px;
    background-color: #1F1F1F;
    border-radius: 12px;
    margin: 0px 12px;
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si es necesario */
    max-height: 80vh;; /* Altura máxima para el contenido */
}

.left-panel::-webkit-scrollbar, .right-panel::-webkit-scrollbar {
    width: 8px; /* Ancho del scrollbar */
}   

.left-panel::-webkit-scrollbar-thumb, .right-panel::-webkit-scrollbar-thumb {
    background-color: #2E5EAA; /* Color del botón del scrollbar */
    border-radius: 4px; /* Borde redondeado */
}

.left-panel::-webkit-scrollbar-track, .right-panel::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: #f0f0f0; /* Color de fondo del scrollbar */
}
  
.center-panel {
    flex: 2; /* El panel central ocupará el doble de ancho que las columnas laterales */
    padding: 10px;
    border-radius: 12px; 
    border: 2px solid #2E5EAA;
}